* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

button {
  margin: 0.2rem;
  padding: 0.1rem 0.3rem;
}